/*algemeen*/
body{
	margin: 0;
	padding: 0;
	user-select: none;
}
/*startknop*/
#start{
	display: inline-block;
	color: white;
	background-color: #840027;
	font-weight: bold;
	font-family: verdana;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	transition: 0.3s;
}
#start:hover{
	cursor: pointer; 
	border-radius: 10px;
	font-size: 35px;
	background-color: #a50031;
}
#blue{color: #00797f;}
#yellow{color: #a84800;}
#red{color: #00a84b;}
#green{color: #e8e8e8;}
/*playfield*/
#mainwindow{
	height: 100%;
	width: 100%;
	background-color: orange;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
#displaywindow{
	height: 100%;
	width: 100%;
	display: none;
}
#playfield{
	height: 1440px;
	width: 500px;
	background-color: black;
}
.section{
	height: 100px;
	width: 550px;
	margin: 10px;
	background-color: red;
	display: flex;
	flex-wrap: nowrap;
}
.pin{
	height: 90px;
	width: 90px;
	background-color: gray;
	margin: 5px;
	border-radius: 45px;
	border: 1px solid black;
}
.pins{
	margin: 5px;
	height: 90px;
	width: 90px;
	display: flex;
	flex-wrap: wrap;
}
.sp{
	height: 38px;
	width: 38px;
	margin: 2.5px;
	border-radius: 20px;
	border: 1px solid black;
	background-color: gray;
}
/*text in playfield*/
#sometext{
	display: table-cell;
	margin: 0;
	font-size: 30px;
	vertical-align: middle;
	color: #636363;
	font-family: verdana;
	color: white;
	text-align: center;
	text-shadow: 4px 4px black;
}
.reveal{
	margin-top: 10px;
	margin-left: 10px;
	max-width: 120px;
	display: table-cell;
}
/*colorpicker*/
#colorpicker{
	height: 600px;
	width: 200px;
	background-color: gray;
	display: flex;
	flex-wrap: wrap;
	margin: 70px;
}
#one{background-color: #00797f;}
#two{background-color: #a84800;	}
#three{background-color: #00a84b;}
#four{background-color: #e0dd35;}
#five{background-color: #e8e8e8;}
#six{background-color: #2d2d2d;}
#seven{background-color: #810bbc;}
#eight{background-color: #cc009f;}
#nine{background-color: #010f77;}
#ten{background-color: #004c04;}
#eleven{background-color: #ff9400;}
#twelve{background-color: #a80000;}
.select{
	height: 90px;
	width: 90px;
	border-radius: 45px;
	margin: 5px;
}
.select:hover{cursor: pointer;}