/*algemeen*/
body{
	margin: 0;
	padding: 0;
	user-select: none;
}
/*startknop*/
#startmenu{
	background-color: #7f1515;
	height: 100%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}
#start{
	display: inline-block;
	color: white;
	background-color: #840027;
	font-weight: bold;
	font-family: verdana;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 2px 2px black;
	padding: 10px 20px 10px 20px;
	transition: 0.3s;
}
#start:hover{
	cursor: pointer; 
	border-radius: 10px;
	font-size: 35px;
	background-color: #a50031;
}
#blue{color: #00797f;}
#yellow{color: #a84800;}
#red{color: #00a84b;}
#green{color: #e8e8e8;}
/*playfield*/
#mainwindow{
	height: 100%;
	width: 100%;
	background-color: #c4c4c4;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
#displaywindow{
	height: 100%;
	width: 100%;
	display: none;
}
#playfield{
	margin: 120px 10px 10px 10px;
	height: 1440px;
	width: 570px;
	border-radius: 10px;
	background-color: black;
}
.section{
	height: 100px;
	width: 550px;
	margin: 10px;
	background-color: /*#7f1515*/#ccdfff;
	display: flex;
	border-radius: 10px;
	flex-wrap: nowrap;
}
.pin{
	height: 90px;
	width: 90px;
	background-color: gray;
	margin: 5px;
	border-radius: 45px;
	border: 1px solid black;
}
.pins{
	margin: 5px 5px 5px 45px;
	height: 90px;
	width: 90px;
	display: flex;
	flex-wrap: wrap;
}
.sp{
	height: 38px;
	width: 38px;
	margin: 2.5px;
	border-radius: 20px;
	border: 1px solid black;
	background-color: gray;
}
/*text in playfield*/
#sometext{
	display: table-cell;
	margin: 0;
	font-size: 30px;
	vertical-align: middle;
	color: #636363;
	font-family: verdana;
	color: black;
	text-align: center;
	text-shadow: 4px 4px white;
}
.reveal{
	margin-top: 10px;
	margin-left: 10px;
	max-width: 120px;
	display: table-cell;
}
/*colorpicker*/
#colorpicker{
	height: 715px;
	width: 204px;
	background-color: gray;
	border-radius: 45px;
	position: fixed;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	margin: 25px;
}
.select{
	border: 1px solid black;
}
#undo{
	display: table;
	text-align: center;
	background-color: black;
}
#text{
	display: table-cell;
	vertical-align: middle;
	font-size: 40px;
	color: white;
}
#one{background-color: #00797f;}
#two{background-color: #a84800;	}
#three{background-color: #00a84b;}
#four{background-color: #e0dd35;}
#five{background-color: #e8e8e8;}
#six{background-color: #2d2d2d;}
#seven{background-color: #810bbc;}
#eight{background-color: #cc009f;}
#nine{background-color: #010f77;}
#ten{background-color: #004c04;}
#eleven{background-color: #ff9400;}
#twelve{background-color: #a80000;}
.select{
	height: 90px;
	width: 90px;
	border-radius: 45px;
	margin: 5px;
}
.select:hover{cursor: pointer;}
button{
	border-radius: 20px;
	margin: 20px;
	padding: 10px;
	font-size: 30px;
	color: white;
	background-color: #7f1515;
	font-family: verdana;
	font-weight: bold;
	border: 2px outset black;
	transition: 0.3s;
}
button:hover{
	cursor: pointer;
	background-color: #b71b1b;
}
#codegen{
	width: 210px;
}
#reset{
	width: 300px;
}
#buttons{
	margin-left: 300px;
	display: flex;
	width: 400px;
	flex-wrap: wrap;
}
header{
	position: fixed;
}
#infovenster{
	position: absolute;
	height: 200px;
	width: 550px;
	background-color: gray;
	border: 2px solid black;
	border-radius: 20px;
	top: 630px;
	left: 190px;
	display: none;
}
ul{
	list-style-type: square;
	font-family: verdana;
}
#info{
	display: table;
	text-align: center;
	background-color: black;
}
#close{
	padding: 0px 5px 2px 5px;
	background-color: red;
	border-radius: 20px;
	position: absolute;
	color: black;
	font-size: 30px;
	left: 510px;
	top: -10px;
	transition: 0.3s;
}
#close:hover{
	cursor: pointer;
	background-color: #ba0000;
	color: #303030;
}
#randomDiv{
	position: relative;
}